.chatbot {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color : #1e1e1e;
}

.chatbot h3 {
    text-align: center;
}

.chatbot form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbot input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chatbot button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
}

.chatbot button:hover {
    background-color: #ff0000;
}

.answer, .videos {
    margin-top: 20px;
}

.videos ul {
    list-style-type: none;
    padding: 0;
}

.videos li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.videos img {
    margin-right: 10px;
}

